@font-face {
  font-family: 'Baibakov-Bold';
  src: url("../fonts/Baibakov-Bold.otf") format('opentype');
}

@font-face {
  font-family: 'Baibakov-Light';
  src: url("../fonts/Baibakov-Light.otf") format('opentype');
}

@font-face {
  font-family: 'Baibakov-Regular';
  src: url("../fonts/Baibakov-Regular.otf") format('opentype'); 
}