video {
  opacity: 0.8!important;
}

.level74 {

  background: url('../images/bg_women.png') 0 0 no-repeat;
  background-size: cover;
  overflow: hidden;

}

.wrap-center-block {

  display: table;
  height: 100%;
  width: 100%;

  .center-block {

    display: table-cell;
    vertical-align: middle;
    text-align: center;

    h1 {

      font-family: Baibakov-Bold;
      padding: 20px 0px;

    }
    h2 {

    }
  }
  .cloud_women {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: url('../images/cloud_women.png') bottom no-repeat;
    background-size: contain;
  }
  .women {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: url('../images/women.png') bottom no-repeat;
    background-size: contain;
  }
}

.wrap-form {
  position: relative;
  text-align: center;
  height: 50%;
  background: #ffffff;
  overflow: hidden;
  .form{
    .for-input{
      display: inline-block;
      input{
        font-family: Baibakov-Regular,sans-serif;
        font-weight: normal;
        font-size: 24px;
        border: #000000 solid 4px;
        height: 43px;
        width: 500px;
        background: #ffffff;
        padding: 0 10px;
        color: #000000;
        &:focus{
          outline: 0;
        }

        @media screen and (max-width: 640px) {

          width: 250px;

        }

        @media screen and (max-width: 320px) {

          width: 200px;

        }

      }
    }
    .btn{
      font-family: Baibakov-Regular,sans-serif;
      font-weight: normal;
      font-size: 24px;
      display: inline-block;
      border: #000 solid 4px;
      height: 43px;
      background: #fff;
      padding: 0 10px;
      text-align: center;
      color: #000000;
      margin-left: 15px;
      cursor: pointer;
      &:focus{
        outline: 0;
      }
    }
  }
  .wrap-center-block {

    display: table;
    height: 100%;
    width: 100%;

    .center-block {

      display: table-cell;
      vertical-align: middle;
      text-align: center;

      h1 {
        font-family: Baibakov-Bold;
        padding: 20px 0px;

      }
      h2 {

      }
    }
  }
}

.slider3d {

  .slider3d__wrapper {

    .slider3d__inner {

      .slider3d__rotater {

        .slider3d__item {

          .content-wrapp {

            //bottom: 0;
            //margin: auto 0;

            .rot {

              //position: absolute;
              //bottom: 0;
              //left: 0;
              //right: 0;
              //margin: auto 0;

              &.r1 {



              }

              .slider3d__heading {



              }

              h2 {

                font-family: Baibakov-Bold;
                font-size: 82px;
                padding: 20px 0px;
                text-shadow: 2px 2px 2px grey,0 0 1em grey;

                &.dark {

                  color: #000000;

                }

                @media screen and (max-width: 640px) {

                  font-size: 52px;

                }

              }

            }

            p {
              font-family: Baibakov-Bold;
            }

          }

          .arrow {
            position: absolute;
            display: block;
            left: 0px;
            right: 0px;
            margin: 0 auto;
            bottom: 25px;
            height: 28px;
            width: 43px;
            background: url("../images/icon-arrow.png") 0 0 no-repeat;
            cursor: pointer !important;
            &--dark {

              background: url("../images/icon-arrow-dark.png") 0 0 no-repeat;

            }
            &.arrow-blink {
              animation: blinker 1s linear infinite;
            }
          }

          .hint-right {

            position: absolute;
            top: 50px;
            right: 50px;
            font-size: 24px;
            cursor: pointer;
            color: #fff;
            text-shadow: 2px 2px 2px grey,0 0 1em grey;
            border: #fff solid 4px;
            border-radius: 25px;
            padding: 10px 35px;
            box-shadow: 2px 2px 2px grey,0 0 1em grey;

            @media screen and (max-width: 640px) {

              left: 50px;
              max-width: 144px;
              box-sizing: content-box;
              margin: 0 auto;

            }

            &.hint-right-none {
              display: none;
            }

          }

        }

      }

    }

  }

}

.wrap-header {

  position: relative;
  height: 100%;

  &.level69 {
    height: 90%;
    text-shadow: 2px 2px 2px grey, 0 0 1em grey;

    .shadow {
      opacity: 0.3;
    }

  }

  &.level71 {
    height: 90%;
  }

  &.level72 {
    height: 90%;
  }

  &.level74 {
    height: 90%;
    background: url('../images/bg_women.png') 0 0 no-repeat;
    background-size: cover;
    overflow: hidden;
  }

  &.level76 {
    height: 90%;
  }

  .video-vide {
    position: absolute!important;
  }

  .shadow {

  }

  .header {

    position: relative;
    height: 100%;
    z-index: 2;

    .top {
      .hint-left {

        position: absolute;
        top: 50px;
        left: 50px;
        font-size: 24px;

        .table {
          .table-cell {
            .text {

            }
          }
        }
      }
      .hint-right {

        position: absolute;
        top: 50px;
        right: 50px;
        font-size: 24px;
        cursor: pointer;
        color: #fff;

        &.hint-right-none {
          display: none;
        }
      }
    }
    .wrap-center-block {

      display: table;
      height: 100%;
      width: 100%;

      .center-block {

        display: table-cell;
        vertical-align: middle;
        text-align: center;

        h1 {

          font-family: Baibakov-Bold;
          padding: 20px 0px;

        }
        h2 {

        }
      }
      .cloud_women {
      	position: absolute;
      	height: 100%;
      	left: 0;
      	right: 0;
      	background: url('../images/cloud_women.png') bottom no-repeat;
      	background-size: contain;
      }
      .women {
      	position: absolute;
      	height: 100%;
      	left: 0;
      	right: 0;
      	background: url('../images/women.png') bottom no-repeat;
      	background-size: contain;
      }
    }
    .arrow {
      position: absolute;
      display: block;
      left: 0px;
      right: 0px;
      margin: 0 auto;
      bottom: 25px;
      height: 28px;
      width: 43px;
      background: url("../images/icon-arrow.png") 0 0 no-repeat;
      cursor: pointer !important;
      &.arrow-blink {
        animation: blinker 1s linear infinite;
      }
    }
  }


}

.wrap-line {
  position: relative;
  height: 50%;
  font-family: Baibakov-Regular;
  .line {
    position: relative;
    height: 100%;
    z-index: 2;
  }
  &.level79 {
    background-color: #fff;
  }
  .wrap-center-block {

    display: table;
    height: 100%;
    width: 100%;

    .center-block {

      display: table-cell;
      vertical-align: middle;
      text-align: center;
      padding: 0 20px;

      h1 {

        font-family: Baibakov-Bold;
        padding: 20px 0px;

      }
      h2 {

      }
    }
  }
}
