<div class="slider3d first">
  <div class="slider3d__wrapper">
    <div class="slider3d__inner">
      <div class="slider3d__rotater">

        <div class="slider3d__item level69" data-video="/video/web_one.mp4">
          <div class="content-wrapp ">
            <div class="rot r1">
              <div class="wrap-center-block">
                <div class="center-block">
                  <h2 class="slider3d__heading" >YOUR ARTIFICIAL CLOUD</h2>
                </div>
              </div>
            </div>
          </div>

          <div class="hint-right" data-current-level="level80">
            CUSTOMERS

          </div>
          <!-- Arrow Down -->
          <a href="#" class="arrow arrow-blink" data-current-level="level69"></a>
          <!-- end Arrow Down -->
        </div>

        <div class="slider3d__item">
          <div class="content-wrapp">
            <div class="rot r2 down">
              <div class="wrap-center-block">
                <div class="center-block">
                  <h2 class="slider3d__heading">WHAT IS THE SOUND OF YOUR SUCCESS?</h2>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="slider3d__item"  data-video="/video/web_two.mp4">
          <div class="content-wrapp">
            <div class="rot r3">
              <h2 class="slider3d__heading">HOW TO RULE THIS CROWD?</h2>
            </div>
          </div>
        </div>

        <div class="slider3d__item level74">
            <div class="wrap-center-block">
              <div class="center-block">
                <div class="cloud_women wow slideInUp"></div>
                <div class="women wow slideInUp" data-wow-delay="1s"></div>
              </div>
            </div>
        </div>

        <div class="slider3d__item" class="level76" data-video="/video/BG.mp4">
        </div>

        <div class="slider3d__item">
          <div class="content-wrapp">
            <div class="rot r3">
              <h2 class="slider3d__heading">WHAT IF MUSIC CAN HELP?</h2>
            </div>
          </div>
        </div>

        <div class="slider3d__item level79">
          <div class="content-wrapp">
            <div class="rot r3">
              <div class="wrap-center-block">
                <div class="center-block">
                  <div class="text-block wow fadeIn">
                    <p style="text-align: center;"><span style="color:rgb(255, 255, 255); font-size:24px">Fully customized online sound design for your shopping centre, hotel, spa, restaurant or any other public spaces.</span><br />
                    <span style="color:rgb(255, 255, 255); font-size:24px">Beautiful soundwaves from hour to hour with your voice announcements on demand.</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!--&lt;!&ndash; Block1 &ndash;&gt;-->
<!--<div class="wrap-header level-block level69" data-video="/video/web_one.mp4">-->
  <!--<div class="shadow"></div>-->
  <!--<div class="header">-->
    <!--&lt;!&ndash; Top &ndash;&gt;-->
    <!--<div class="top">-->
      <!--<div class="hint-left">-->
        <!--<div class="table">-->
          <!--<div class="table-cell">-->
            <!--<div class="text">-->

            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="hint-right" data-current-level="level80">-->
        <!--CUSTOMERS-->

      <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; end Top &ndash;&gt;-->

    <!--&lt;!&ndash; Center Block &ndash;&gt;-->
    <!--<div class="wrap-center-block">-->
      <!--<div class="center-block">-->
        <!--<h1>YOUR ARTIFICIAL CLOUD</h1>-->
        <!--<h2></h2>-->
      <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; end Center Block &ndash;&gt;-->

    <!--&lt;!&ndash; Arrow Down &ndash;&gt;-->
    <!--<a href="#" class="arrow arrow-blink" data-current-level="level69"></a>-->
    <!--&lt;!&ndash; end Arrow Down &ndash;&gt;-->
  <!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; end Block1 &ndash;&gt;-->

<!--&lt;!&ndash; Block2 &ndash;&gt;-->
<!--<div class="wrap-header level-block level71" >-->
  <!--<div class="shadow"></div>-->
  <!--<div class="header">-->
    <!--&lt;!&ndash; Top &ndash;&gt;-->
    <!--<div class="top">-->
      <!--<div class="hint-left">-->
        <!--<div class="table">-->
          <!--<div class="table-cell">-->
            <!--<div class="text">-->

            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="hint-right hint-right-none">-->


      <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; end Top &ndash;&gt;-->

    <!--&lt;!&ndash; Center Block &ndash;&gt;-->
    <!--<div class="wrap-center-block">-->
      <!--<div class="center-block">-->
        <!--<h1>WHAT IS THE SOUND OF YOUR SUCCESS?</h1>-->
        <!--<h2></h2>-->
      <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; end Center Block &ndash;&gt;-->
  <!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; end Block2 &ndash;&gt;-->

<!--&lt;!&ndash; Block3 &ndash;&gt;-->
<!--<div class="wrap-header level-block level72" data-video="/video/web_two.mp4">-->
  <!--<div class="shadow"></div>/-->
  <!--<div class="header">-->
    <!--&lt;!&ndash; Top &ndash;&gt;-->
    <!--<div class="top">-->
      <!--<div class="hint-left">-->
        <!--<div class="table">-->
          <!--<div class="table-cell">-->
            <!--<div class="text">-->

            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="hint-right hint-right-none">-->


      <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; end Top &ndash;&gt;-->

    <!--&lt;!&ndash; Center Block &ndash;&gt;-->
    <!--<div class="wrap-center-block">-->
      <!--<div class="center-block">-->
        <!--<h1>HOW TO RULE THIS CROWD?</h1>-->
        <!--<h2></h2>-->
      <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; end Center Block &ndash;&gt;-->
  <!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; end Block3 &ndash;&gt;-->

<!--&lt;!&ndash; Block4 &ndash;&gt;-->
<!--<div class="wrap-header level-block level74" >-->
  <!--<div class="shadow"></div>-->
  <!--<div class="header">-->
    <!--&lt;!&ndash; Top &ndash;&gt;-->
    <!--<div class="top">-->
      <!--<div class="hint-left">-->
        <!--<div class="table">-->
          <!--<div class="table-cell">-->
            <!--<div class="text">-->

            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="hint-right hint-right-none">-->


      <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; end Top &ndash;&gt;-->

    <!--&lt;!&ndash; Center Block &ndash;&gt;-->
    <!--<div class="wrap-center-block">-->
      <!--<div class="center-block">-->
        <!--<h1></h1>-->
        <!--<h2></h2>-->
      <!--</div>-->
      <!--<div class="cloud_women wow slideInUp"></div>-->
      <!--<div class="women wow slideInUp" data-wow-delay="1s"></div>-->
    <!--</div>-->
    <!--&lt;!&ndash; end Center Block &ndash;&gt;-->
  <!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; end Block4 &ndash;&gt;-->

<!--&lt;!&ndash; Block5 &ndash;&gt;-->
<!--<div class="wrap-header level-block level76" data-video="/video/BG.mp4">-->
  <!--<div class="shadow"></div>-->
  <!--<div class="header">-->
    <!--&lt;!&ndash; Top &ndash;&gt;-->
    <!--<div class="top">-->
      <!--<div class="hint-left">-->
        <!--<div class="table">-->
          <!--<div class="table-cell">-->
            <!--<div class="text">-->

            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="hint-right hint-right-none">-->


      <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; end Top &ndash;&gt;-->

    <!--&lt;!&ndash; Center Block &ndash;&gt;-->
    <!--<div class="wrap-center-block">-->
      <!--<div class="center-block">-->
        <!--<h1>WHAT IF MUSIC CAN HELP?</h1>-->
        <!--<h2></h2>-->
      <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; end Center Block &ndash;&gt;-->
  <!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; end Block5 &ndash;&gt;-->

<!--&lt;!&ndash; Block6 &ndash;&gt;-->
<!--<div class="wrap-line level-block level79">-->
  <!--<div class="shadow"></div>-->
  <!--<div class="line">-->

    <!--&lt;!&ndash; Center Block &ndash;&gt;-->
    <!--<div class="wrap-center-block">-->
      <!--<div class="center-block">-->
        <!--<div class="text-block wow fadeIn">-->
          <!--<p style="text-align: center;"><span style="color:rgb(255, 255, 255); font-size:24px">Fully customized online sound design for your shopping centre, hotel, spa, restaurant or any other public spaces.</span><br />-->
            <!--<span style="color:rgb(255, 255, 255); font-size:24px">Beautiful soundwaves from hour to hour with your voice announcements on demand.</span></p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; end Center Block &ndash;&gt;-->

  <!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; end Block6 &ndash;&gt;-->

<!--&lt;!&ndash; Block7 &ndash;&gt;-->
<!--<div class="wrap-form level80">-->
  <!--<div class="wrap-center-block">-->
    <!--<div class="center-block">-->
      <!--<div class="form">-->
        <!--<form action="">-->
          <!--<div class="for-input wow bounceInUp">-->
            <!--<input type="password" placeholder="Please enter your code" />-->
          <!--</div>-->

          <!--<button type="submit" class="btn wow bounceInUp" data-wow-delay="0.5s">GO!</button>-->
        <!--</form>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; end Block7 &ndash;&gt;-->
