<!-- Block1 -->
<div class="wrap-header level-block level69" data-video="/video/web_one.mp4">
  <div class="shadow"></div>
  <div class="header">
    <!-- Top -->
    <div class="top">
      <div class="hint-left">
        <div class="table">
          <div class="table-cell">
            <div class="text">

            </div>
          </div>
        </div>
      </div>
      <div class="hint-right" data-current-level="level80">
        CUSTOMERS

      </div>
    </div>
    <!-- end Top -->

    <!-- Center Block -->
    <div class="wrap-center-block">
      <div class="center-block">
        <h1>YOUR ARTIFICIAL CLOUD</h1>
        <h2></h2>
      </div>
    </div>
    <!-- end Center Block -->

    <!-- Arrow Down -->
    <a href="#" class="arrow arrow-blink arrow1" data-current-level="level69"></a>
    <a href="#" class="arrow arrow-blink arrow2" data-current-level="level69"></a>
    <a href="#" class="arrow arrow-blink arrow3" data-current-level="level69"></a>
    <!-- end Arrow Down -->
  </div>
</div>
<!-- end Block1 -->

<!-- Block2 -->
<div class="wrap-header level-block level71" >
  <div class="shadow"></div>
  <div class="header">
    <!-- Top -->
    <div class="top">
      <div class="hint-left">
        <div class="table">
          <div class="table-cell">
            <div class="text">

            </div>
          </div>
        </div>
      </div>
      <div class="hint-right hint-right-none">


      </div>
    </div>
    <!-- end Top -->

    <!-- Center Block -->
    <div class="wrap-center-block">
      <div class="center-block">
        <h1>WHAT IS THE SOUND OF YOUR SUCCESS?</h1>
        <h2></h2>
      </div>
    </div>
    <!-- end Center Block -->

    <!-- Arrow Down -->
    <a href="#" class="arrow arrow-blink arrow1" data-current-level="level71"></a>
    <a href="#" class="arrow arrow-blink arrow2" data-current-level="level71"></a>
    <a href="#" class="arrow arrow-blink arrow3" data-current-level="level71"></a>
    <!-- end Arrow Down -->
  </div>
</div>
<!-- end Block2 -->

<!-- Block3 -->
<div class="wrap-header level-block level72" data-video="/video/web_two.mp4">
  <div class="shadow"></div>/
  <div class="header">
    <!-- Top -->
    <div class="top">
      <div class="hint-left">
        <div class="table">
          <div class="table-cell">
            <div class="text">

            </div>
          </div>
        </div>
      </div>
      <div class="hint-right hint-right-none">


      </div>
    </div>
    <!-- end Top -->

    <!-- Center Block -->
    <div class="wrap-center-block">
      <div class="center-block">
        <h1>HOW TO RULE THIS CROWD?</h1>
        <h2></h2>
      </div>
    </div>
    <!-- end Center Block -->

    <!-- Arrow Down -->
    <a href="#" class="arrow arrow-blink arrow1" data-current-level="level72"></a>
    <a href="#" class="arrow arrow-blink arrow2" data-current-level="level72"></a>
    <a href="#" class="arrow arrow-blink arrow3" data-current-level="level72"></a>
    <!-- end Arrow Down -->
  </div>
</div>
<!-- end Block3 -->

<!-- Block4 -->
<div class="wrap-header level-block level74" >
  <div class="shadow"></div>
  <div class="header">
    <!-- Top -->
    <div class="top">
      <div class="hint-left">
        <div class="table">
          <div class="table-cell">
            <div class="text">

            </div>
          </div>
        </div>
      </div>
      <div class="hint-right hint-right-none">


      </div>
    </div>
    <!-- end Top -->

    <!-- Center Block -->
    <div class="wrap-center-block">
      <div class="center-block">
        <h1></h1>
        <h2></h2>
      </div>
    </div>
    <!-- end Center Block -->

    <!-- Arrow Down -->
    <a href="#" class="arrow arrow-blink arrow1" data-current-level="level74"></a>
    <a href="#" class="arrow arrow-blink arrow2" data-current-level="level74"></a>
    <a href="#" class="arrow arrow-blink arrow3" data-current-level="level74"></a>
    <!-- end Arrow Down -->
  </div>
</div>
<!-- end Block4 -->

<!-- Block5 -->
<div class="wrap-header level-block level76" data-video="/video/BG.mp4">
  <div class="shadow"></div>
  <div class="header">
    <!-- Top -->
    <div class="top">
      <div class="hint-left">
        <div class="table">
          <div class="table-cell">
            <div class="text">

            </div>
          </div>
        </div>
      </div>
      <div class="hint-right hint-right-none">


      </div>
    </div>
    <!-- end Top -->

    <!-- Center Block -->
    <div class="wrap-center-block">
      <div class="center-block">
        <h1>WHAT IF MUSIC CAN HELP?</h1>
        <h2></h2>
      </div>
    </div>
    <!-- end Center Block -->

    <!-- Arrow Down -->
    <a href="#" class="arrow arrow-blink arrow1" data-current-level="level76"></a>
    <a href="#" class="arrow arrow-blink arrow2" data-current-level="level76"></a>
    <a href="#" class="arrow arrow-blink arrow3" data-current-level="level76"></a>
    <!-- end Arrow Down -->
  </div>
</div>
<!-- end Block5 -->

<!-- Block6 -->
<div class="wrap-line level-block level79">
  <div class="shadow"></div>
  <div class="line">

    <!-- Center Block -->
    <div class="wrap-center-block">
      <div class="center-block">
        <div class="text-block">
          <p style="text-align: center;"><span style="color:rgb(255, 255, 255); font-family:arial,helvetica,sans-serif; font-size:24px">Fully customized online sound design for your shopping centre, hotel, spa, restaurant or any other public spaces.</span><br />
            <span style="color:rgb(255, 255, 255); font-family:arial,helvetica,sans-serif; font-size:24px">Beautiful soundwaves from hour to hour with your voice announcements on demand.</span></p>
        </div>
      </div>
    </div>
    <!-- end Center Block -->

  </div>
</div>
<!-- end Block6 -->

<!-- Block7 -->
<div class="wrap-form level80">
  <div class="wrap-center-block">
    <div class="center-block">
      <div class="form">
        <form action="">
          <div class="for-input">
            <input type="password" placeholder="Please enter your code" />
          </div>

          <button type="submit" class="btn">GO!</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- end Block7 -->
