<!-- Video web_one -->
<div class="wrap-block">
	<div class="block block-1">
	</div>
</div>
<!-- end Video web_one -->

<!-- Text what is the sound of your success -->
<div class="wrap-block">
	<div class="block block-2">
		what is the sound of your success?
	</div>
</div>
<!-- end Text what is the sound of your success -->

<!-- Video web_two -->
<div class="wrap-block">
	<div class="block block-3">
	</div>
</div>
<!-- end Video web_two -->

<!-- Image baba -->
<div class="wrap-block">
	<div class="block block-4">
	</div>
</div>
<!-- end Image baba -->

<!-- Text What if music can help? -->
<div class="wrap-block">
	<div class="block block-5">
		What if music can help?
	</div>
</div>
<!-- end Text What if music can help? -->

<!-- Video BG-->
<div class="wrap-block">
	<div class="block block-6">
	</div>
</div>
<!-- end Video BG -->

<!-- Text big -->
<div class="wrap-block">
	<div class="block block-7">
		Fully customized online sound design for your shopping centre, hotel, spa, restaurant or any other public spaces.
Beautiful soundwaves from hour to hour with your voice announcements on demand.
	</div>
</div>
<!-- end Text big -->

<!-- Log -->
<div class="wrap-block">
<div class="wrap-form"><div class="form"><form method="POST" action="/user_login/" class="ng-pristine ng-valid"><div class="for-input"><input type="password" name="ext_login" placeholder="Enter your secret word"></div><button type="submit" class="btn">GO!</button> </form></div></div></div>
<!-- end Log -->
