<div class="debug">
</div>

<div class="wrap-player">
  <div class="player">
    <div class="player-buttons">
      <ul>
        <li class="btn-play" ng-click="play()">
          <div class="wrap">
            <span class="bg"></span>
            <span>PLAY</span>
          </div>
        </li>
        <li class="btn-stop" ng-click="stop()">
          <div class="wrap">
            <span class="bg"></span>
            <span>STOP</span>
          </div>
        </li>
        <li class="btn-reset" ng-click="reset()">
          <div class="wrap">
            <span class="bg"></span>
            <span>RESET</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
